{% extends "bar.html" %}

{% block content %}


<div class="">

</div>
<header class="header">Тема для размышлений: {{ post.post_text }}</header>


<div class="comment-part">
  Комментарии:
  <ul>
    {% for comment in post.comment_set.all %}
    <li>{{ comment.comment_text }} {{ comment.comment_date}}</li>
    {% endfor %}
  </ul>
</div>

<form action="/app/comment/add/" method="POST">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {% for field in form %}
  <div class="fieldWrapper">
    {% if field.is_hidden %}
    <input type="hidden" name="{{ field.name}}" value="{{ post.id }}">
    {% else %}
    {{ field.label_tag }} {{ field }}
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="Создать">
</form>

{% endblock %}
