{% extends "bar.html" %}
{% load static %}
{% block content %}
<h2>Темы для размышлений</h2>
<table class="table">
  <thead>
    <th scope="col">ИД</th>
    <th scope="col">Создатель</th>
    <th scope="col">Тема</th>
    <th scope="col">Дата создания</th>
  </thead>
  <tbody>
    {% for post in object_list %}
    <tr>
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.user.username }}</td>
      <td><a href="{% url 'post_detail' post.id  %}">{{ post.post_text }}</a></td>
      <td>{{ post.post_date }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<form action="/app/post/add/" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Создать">
</form>
{% endblock %}
